
.tabsin2
{
	text-align:center;
width:150px;
height:20px;
margin-left:3px;
padding-top:10px;
float:left;
background:#DA2218;/*
background:url(../images/tab2.jpg) no-repeat;
background-position:0px 0px;*/
}
.tabsin3
{
	text-align:center;
width:118px;
height:20px;
margin-left:3px;
padding-top:10px;
float:left;
background:#DA2218;/*
background:url(../images/tab2.jpg) no-repeat;
background-position:0px 0px;*/
}
.tabsin4
{
	text-align:center;
width:170px;
height:20px;
margin-left:3px;
padding-top:10px;
float:left;
background:#DA2218;/*
background:url(../images/tab2.jpg) no-repeat;
background-position:0px 0px;*/
}

.tabsin10
{
	text-align:center;
width:220px;
height:20px;
margin-left:3px;
padding-top:10px;
float:left;
background:#DA2218;/*
background:url(../images/tab2.jpg) no-repeat;
background-position:0px 0px;*/
}

.tabsin10 a
{
text-align:center;
font-size:9px;
font-family:tahoma;
color: #fff;
font-weight: bold;
text-decoration: none;
}
.tabsin10 a:hover
{
text-align:center;
font-size:9px;
font-family:tahoma;
text-decoration:underline;
}

.tabsin5
{
	text-align:center;
width:142px;
height:30px;
margin-left:3px;
padding-top:8px;
float:left;
background:url(../images/back_bg.jpg) no-repeat;
background-position:0px 0px;
}

.tabsin2 a
{
text-align:center;
font-size:9px;
font-family:tahoma;
color: #fff;
font-weight: bold;
text-decoration: none;
}
.tabsin2 a:hover
{
text-align:center;
font-size:9px;
font-family:tahoma;
text-decoration: underline;
}

.tabsin3 a
{
text-align:center;
font-size:9px;
font-family:tahoma;
color: #fff;
font-weight: bold;
text-decoration: none;
}
.tabsin3 a:hover
{
text-align:center;
font-size:9px;
font-family:tahoma;
text-decoration:underline;
}

.tabsin4 a
{
text-align:center;
font-size:9px;
font-family:tahoma;
color: #fff;
font-weight: bold;
text-decoration: none;
}
.tabsin4 a:hover
{
text-align:center;
font-size:9px;
font-family:tahoma;
text-decoration:underline;
}

.tabsin5 a
{
text-align:center;
font-size:11px;
font-family:tahoma;
color: #fff;
font-weight: bold;
text-decoration: none;
}
.tabsin5 a:hover
{
text-align:center;
font-size:11px;
font-family:tahoma;
text-decoration:underline;
}


