

/* ----------------------------------- */
.right
{
	width:774px;
	float:right;
}
.main-content
{
	border:solid 0px #b4bdbd;
	width:539px;
	float:left;
}
.button_inner {
 background: #003366;
  width: auto;
padding:4px 8px 4px 8px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;}

.clear {
    clear: both;
    height: 10px;
}

.border
{
	margin:1px;
	/*background:#eef2f2;*/
	height:auto;
	/* [disabled]overflow:hidden; */
	padding:10px;
	text-align:justify;
}
.border li
{
	display:list-item;
}
.border h2
{
	padding:2px 5px 2px 2px; font-weight:bold; margin:3px 0 0px 0; font: Calibri; font-size:15px; color:#000000;

}
.header { background: url(images/bg-header-services.png) 30px 64% repeat-x;  }

.border h5 { 
	background:#eef2f2;
	color: #000;
	display: inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;	
	margin-bottom: 5px;
	padding-top:0px;
	font-weight:bold;
	padding-right: 10px;	
	text-transform:none;
}

.bulletin-board
{
	width:210px; 
	float:left;
	background:url(../images/border-vertical.jpg) repeat-y right;
	padding-right:12px;
}

.bulletin-board-gk
{
	width:37%; 
	float:left;
	padding-left:5px;
	background:url(../images/border-vertical.jpg) repeat-y right;
	
	
}

.bulletin-board-gk-3
{
	width:27%; 
	float:left;
	padding-left:5px;
	
	
}

.bulletin-board-3
{
	width:47%; 
	float:left;
	background:url(../images/border-vertical.jpg) repeat-y right;
	
	
}

.bulletin-board2
{
	width:48%;
	float: right;
	background:url(../images/border-vertical.jpg) repeat-y right;
	padding-right:14px;
}

.bulletin-board2
{
	width:200px; 
	float:left;
	background:url(../images/border-vertical.jpg) repeat-y right;
	height:auto;
	
	
}

.bulletin-board3
{
	width:150px; 
	float:left;
	height:auto;
	
	
}


.top-border
{

}
.top-borderh2
{
	background:url(../images/border-horizontal.png) repeat-x top;
	margin-bottom:-10px;
}

.whats-new
{
	width:48%;
	float: right;
}

ul.listing li 
{
	background:url(../images/arrow.jpg) no-repeat top left;
	font:12px/18px Arial, Helvetica, sans-serif;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:8px;
}

ul.listing li a
{
	color:#333334;
	text-decoration:none;
}

ul.listing li a:hover
{
	text-decoration:underline;
}

.content-single
{
	padding:10px 0;
	
}

.content-single a
{
	color:#000;
}

.content-single a:hover
{
	text-decoration:underline;
	color:#003366;
}

.courses-scroll
{
	padding:10px 0;
}

/* --------------------------------------- */

.right-sidebar
{
	width:225px;
	float:right;
}

.right-sidebar img
{
	text-align:center;
}

.bullcat-prep
{
	width:213px;
	margin:0px auto;
}

/*---------------------- */
#footer
{
	height:auto;
	overflow:hidden;
	background:url(../images/check.png);
	padding-bottom:20px;
}

.footer-content
{
	width:1000px;
	margin:0px auto;
	padding:20px 0;
}

.footer-block
{
	width:190px;
	float:left;
	display:inline;
	margin-right:10px;
}

.footer-block h3
{
	color:#fff;
	font-size:14px;
}

.footer-block ul 
{
	padding-left:10px;
}

.footer-block li 
{
	list-style:square;
	color:#7d98a0;
}

.footer-block li a
{
	color:#7d98a0;
	font:12px/14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.footer-block li a:hover
{
	text-decoration:underline;
	color:#fff;
}

.footer-divider
{
	background:url(../images/footer-divider.png) repeat-x;
	height:60px;
}

.footer-name
{
	float:right;
	padding-top:50px;
}

.footer-name img
{
	display:block;
	float:left;
}

.footer-name span
{
	display:block;
	float:left;
	height:42px;
	color:#fff;
	padding-left:15px;
}

.copyrights
{
	background:#303030;
	height:40px;
	line-height:40px;
}

.copyrights .content
{
	width:1000px;
	margin:0px auto;
}

.copyrights *
{
	color:#868686;
	text-decoration:none;
}

.show_hide
{
	cursor:pointer;
}

/* -------- Contact Address Scroll ---------------- */

#slider5 { height: 1%; overflow:hidden; position:relative; }
#slider5 .viewport { width: 190px; height: 90px; overflow: hidden; position: relative; padding-top:8px; }
#slider5 .buttons { display: block; width:13px; height:9px; text-indent:-9999px; position:absolute; right:0; }
#slider5 .prev { background-position: 0 -112px; background:url(../images/next-up.png) no-repeat; top:100px;  }
#slider5 .next { background-position: 0 -112px; background:url(../images/next-down.png) no-repeat; top:130px;  }
#slider5 .disable { visibility: hidden; }
#slider5 .overview {
	list-style: none;
	position: absolute;
	width: 155px;

left: 0 top: 0; 		left: 0px;
	top: 9px;
}
#slider5 .overview li{ float: left; height:auto; width: 190px;}
#slider5 .overview li strong{ font-weight:bold; color:#000;}

/* --------------------------------------- */

#about-mba { height: 1%; overflow:hidden; position:relative; }
#about-mba .viewport { height: 79px; overflow: hidden; position: relative; }
#about-mba .buttons { display: block; width:13px; height:7px; text-indent:-9999px; margin:0px auto; }
#about-mba .prev { background-position: 0 -180px; background:url(../images/next_up_mba.png) no-repeat;  }
#about-mba .next { background-position: 0 -180px; background:url(../images/next_down_mba.png) no-repeat; }
#about-mba .disable { visibility: hidden; }
#about-mba .overview { list-style: none; position: absolute; left: 0 top: 0; }
#about-mba .overview li{ float: left; height: 92px; }
#about-mba .overview li strong{ font-weight:bold; color:#000;}

/* --------------------------------------- */
#courses-slider { height: 1%; overflow:hidden; }
#courses-slider .viewport { float: left; width: 710px; height: 81px; overflow: hidden; position: relative; }
#courses-slider .buttons { display: block; background-position: 0 -38px; text-indent: -999em; float: left; width: 17px; height: 81px; overflow: hidden; position: relative; }
#courses-slider .next { background:url(../images/courses-next.jpg) no-repeat;  }
#courses-slider .prev { background:url(../images/courses-prev.jpg) no-repeat;  }
#courses-slider .disable { visibility: hidden; }
#courses-slider .overview { list-style: none; position: absolute; width: 474px; left: 0 top: 0; }
#courses-slider .overview li{ float: left; margin-right:3px; height: 77px; border: 1px solid #c1cccc; background:#fff; width: 116px; padding:1px;}

/* ------------------------- */
.contact-form
{
	padding:10px;
	height:auto;
	overflow:hidden;
}

.contact-form .row
{
	height:auto;
	overflow:hidden;
	margin-bottom:5px;
}

.contact-form .row label
{
	display:block;
	float:left;
	width:75px;
	font-size:11px;
}

.contact-form .row select
{
	width:120px;
}

.contact-form .row input.textfield
{
	width:120px;
	height:20px;
}

.contact-form .row textarea
{
	width:195px;
	overflow:auto;
	height:80px;
}

.contact-form .row .submit
{
	background: -webkit-linear-gradient(top, #005b8b, #261623);
	background: -moz-linear-gradient(top, #005b8b, #261623);
	background: -ms-linear-gradient(top, #005b8b, #261623);
	background: -o-linear-gradient(top, #005b8b, #261623);
	background-color: #005b8b;
	color:#fff;
	border:none;
	padding:3px 10px;
	border-radius:3px;
	cursor:pointer;
}

.contact-form .row .submit:hover,
.contact-form .row .submit:focus
{
	background:#005b8b;
}

.home-banner
{
	margin-bottom:20px;
	width:776px;
	height:227px;
}

.slide-1 { background:url(../images/banner-bg1.png) no-repeat; }
.slide-2 { background:url(../images/banner-bg2.png) no-repeat; }
.slide-3 { background:url(../images/banner-bg3.png) no-repeat; }
.slide-4 { background:url(../images/banner-bg4.png) no-repeat; }
.slide-5 { background:url(../images/banner-bg5.png) no-repeat; }

.slide-mba-3 { background:url(../images/banner-mba-3.png) no-repeat; }
.slide
{
	width:776px;
	height:227px;	
}

.slide .slide-content
{
	float:right;
	margin-right:25px;
	display:inline;
	width:270px;
	color:#fff;
	padding-top:25px;
}

.slide .slide-content h2
{
	font:20px/30px 'Patua One', cursive;
	color:#fff;
}

.slide .slide-content p
{
	margin:10px 0;
	color:#FFFFFF;
}


/* Custom Select Box */

.select-container
{
	position:relative;
	margin-left:7px;
	margin-top:10px;
}

.select-centre
{
	width:214px;
	cursor:pointer;
}

.customStyleSelectBox {
	width:214px;
	height:32px;
	cursor:pointer;
	background:url(../images/select-centre.jpg) no-repeat;
}

.customStyleSelectBox.changed {
/* You can use this if you want a different style after user has made a selection */
}

/* on the next line we add a down arrow on the right to indicate that it is a select box */
.customStyleSelectBoxInner {
	height:32px;
	padding-left:20px;
	color:#8f8f8f;
	font:bold 12px/32px Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.title {
	margin-top:35px;
	margin-bottom:20px;
	overflow:hidden;
}

.title h1 {
	float:left;
}


.toggle {
	margin: -20px 0 0 0;
}

/* toggle header */

/* currently active header */
.toggle span.active {
	cursor:pointer;
}

.toggle h6.title span.title_content {
	background:url(../images/icons/plus.png) no-repeat center left;
	display: block;
	overflow: hidden;
	position: relative;
	padding:0px 15px 0px 35px;
	height:auto;
	font-size:14px;
}

/* toggle pane */
.toggle .pane {
	border-top: none;
	overflow: hidden;
	clear: both;
	border:1px solid #e6e6e6;
	margin: -5px 0 0 0 ;
}
.toggle .pane-page {
	padding: 15px;
}
/* toggle_style1 */

.tstyle1 h6.title {
	cursor:pointer;
	text-decoration: none;
	color: #5b5b5d;
	display: block;
	outline: none;
	padding:0;
    background:#f1f1f1;
	text-shadow:0px 1px 1px #fff;
}

.tstyle1 h6.title:hover, .toggle_style1 span.active:hover {
    background:#e6e6e6;
	text-shadow:0px 1px 1px #fff;
	color: #5b5b5d;	
}
.tstyle1 h6.active span.title_content {
	background: #e6e6e6 url(../images/icons/minus.png) no-repeat center left;
	color:#7b7b7b;	
}
.tstyle1 h6.title {
	cursor:pointer;
	text-decoration: none;
	color: #5b5b5d;
	display: block;
	outline: none;
	padding:0;
    background:#f1f1f1;
	text-shadow:0px 1px 1px #fff;
}

.tstyle1 h6.title:hover, .toggle_style1 span.active:hover {
    background:#e6e6e6;
	text-shadow:0px 1px 1px #fff;
	color: #5b5b5d;	
}
.tstyle1 h6.active span.title_content {
	background: #e6e6e6 url(../images/icons/minus.png) no-repeat center left;
	color:#7b7b7b;
	width:40px;	
}
.newbar{width:500px;
float:left;
line-height:25;
height:auto;}

.ul_ul
{
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
margin-left:0px;
padding:5px;
}
.ul_ul li
{
list-style: inside;
list-style-image:url(../images/checklists.png);
}




.parsona_contant{ width:510px; height:auto; float:left; margin:10px;}

.parsona_contant p{ width:auto; height:auto; float:left; margin:5px; margin-top:10px;}


.parsona_contant2{ width:510px; height: 110px; float:left; margin-top:5px; border:#CCCCCC 1px solid; margin-left:10px; background:#f7f9f9;}

.parsona_contant3{ width:180px; height:auto; float:left; margin-left:13px; padding-top:5px;}
.parsona_contant4{ width:280px; height:auto; float:left; padding-left:35px; padding-top:5px;}



.main-home-container
{
	width:780px;
	height:auto;
	height:auto;
}



.e-library
{
	width:750px;
	float:left;
	height:auto;
}

.test-main{ float:left; font-size:12px; padding-right:16px; margin-top:4px;  line-height:26px; font:Arial, Helvetica, sans-serif }
.test-main1{ float:left; font-size:12px; padding-right:4px; margin-top:4px; line-height:18px; width:470px;}
.e-learing-slider
{
	width:260px; 
	float:left;
	height:auto;
	margin-top:-14px;
	
	
}

.e-learing-slider-2
{
	width:400px; 
	float:left;
	height:auto;
	
	
}

.e-learing

{
	width:800px; 
	float:left;
	height:auto;
	padding:10px 0 4px 10px;
	background-color:#e2e2e2;
	
	
}

.e-learing-slide-left
{
	width:150px;
	float: left;
	height:auto;

	 
	  
}

.e-learing-slide-right
{
	width:390px;
	float: left;
	height:auto;
	margin-top:2px;
	line-height:12px;
	 
}



.e-learing-slider-box
{
	width:540px;
	float: right;
	height:auto;
}

.e-learing-slider-box h3
{
	
	color: #0E557D;
	display: inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;	
	margin-bottom: 5px;
	padding-top:0px;
	font-weight:bold;
	padding-right: 10px;	
	text-transform:none;
}

.imagebox {
   
    border: 1px solid #FFFFFF;
    /*outline: 1px solid #C4C7C8;*/
    margin: 1px;
    padding: 3px;

   
}


.imagebox img {
    display: block;
    border: 1px solid #FFFFFF;
}

/* Imagebox alignment and margins */

.right-margin {
    margin: 5px 10px 5px 5px;
    float: left;
}

.video-slider 
{
	position:relative;
	margin:5px 0 0px;
	background:#025888;
	color:#fff;
	
}

.video-slider .image-container
{
	padding:10px;
	text-align:center;
}

.video-slider .image-container .image-title,
.video-slider .image-container .image-name
{
	color:#fff;
}

.video-slider .flex-control-nav
{
	position:static;
	text-align:center;
	background:#333;
	padding:10px 0;
}

.video-slider .flex-direction-nav
{
	display:block;
	height:0;
}

.video-slider .flex-control-nav li a
{
	display:inline-block;
}

.video-slider .flex-control-nav li a
{
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background:#fff;
}

.video-slider a.flex-next
{
	position:absolute;
	bottom:6px;
	right:15px;
	width:13px;
	height:15px;
	display:block;
	background:url(../images/navigation-black-right.png) bottom no-repeat;
	text-indent:9999px;
}

.video-slider a.flex-next:hover
{
	background-position:top;
}

.video-slider a.flex-prev
{
	position:absolute;
	bottom:6px;
	left:15px;
	width:13px;
	height:15px;
	display:block;
	background:url(../images/navigation-black-left.png) bottom no-repeat;
	text-indent:9999px;
}

.video-slider a.flex-prev:hover
{
	background-position:top;
}


.video-slider-white
{
	position:relative;
	margin:9px 0 20px;
	background:#eef2f2;
}

.video-slider-white .image-container
{
	padding:10px;
	text-align:center;
}

.video-slider-white .flex-control-nav
{
	position:static;
	text-align:center;
	background:#eef2f2;
	padding:10px 0;
}

.video-slider-white .flex-control-nav li a
{
	display:inline-block;
}

.video-slider-white .flex-control-nav li a
{
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background:#ebebe8;
}

.video-slider-white a.flex-next
{
	position: absolute;
	bottom:6px;
	right:15px;
	width:13px;
	height:15px;
	display:block;
	background:url(../images/navigation-white-left.png) bottom no-repeat;
	text-indent:9999px;
}

.video-slider-white a.flex-next:hover
{
	background-position:top;
}

.video-slider-white a.flex-prev
{
	position:absolute;
	bottom:6px;
	left:15px;
	width:13px;
	height:15px;
	display:block;
	background:url(../images/navigation-white-right.png) bottom no-repeat;
	text-indent:9999px;
}

.video-slider-white a.flex-prev:hover
{
	background-position:top;
}

.video-slider-white .flex-direction-nav
{
	display:block;
	height:0;
}
.mid-content
{
	width:900px;
	float:left;
	height:auto;
}

.contact
{
	width:900px;
	float:left;
	height:auto;
}

.contact-box
{
	width:750px;
	float:left;
	height:auto;
	background-color:#e2e2e2;
	
}

.canban-address{ float:left;
width:290px;
height:190px;
margin-left:8px;
padding:2px 2px 4px 5px;
background:#e2e2e2;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height:24px;
font-size:11px;

}

.canban-address-2{
	 float:left;
width:235px;
height:auto;
margin-left:8px;
padding:2px 2px 4px 5px;
background:#e2e2e2;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height:24px;
font-size:11px;

}

.border h2
{
	padding:2px 5px 2px 2px; font-weight:bold; margin:3px 0 0px 0; font: Calibri; font-size:15px; color:#000000;

}

.canban-contact{ float:left;
width:400px;
height:170px;
margin-left:5px;
padding:2px 2px 2px 2px;
background:#e2e2e2;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height:24px;
font-size:11px;

}

.courses
{
	float:left; font-size:12px;
	  margin-bottom:15px;
	  line-height:8px; font:Arial, Helvetica, sans-serif;
	  height:auto;
}

.courses-2
{
	float:left; font-size:12px;
	 padding-right:16px; 
	  line-height:8px; font:Arial, Helvetica, sans-serif;
	  height:auto;
}

/*result-testimonials*/

.button_inner-result
{
	width:750px;
	float:left;
	height:auto;
	 background: #003366;
	 
}
.button_inner {
 background: #003366;
  width: auto;
padding:4px 8px 4px 8px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;}

.button_result-test {
 background: #003366;
  width: auto;
padding:10px 58px 10px 58px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;

}

.bg-header {
 background: #003366;
  width: auto;
padding:10px 58px 10px 58px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;
width:700px;

}




.button_comprehesive {
 background: #bee6fa;
  width: 686px;
padding:10px 58px 10px 8px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;

}

.button_header {
 background: #003366;
  width: 686px;
padding:10px 58px 10px 8px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;

}

.

.bg_product {

  width: 686px;
padding:10px 58px 10px 8px;
font:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
border:1px #000000;
float:left;
margin:0px;


}

.comprehesive
{
	width:690px;
	float:left;
	height:auto;
}
.comprehesive-container
{
	width:690px;
	float:left;
	height:auto;
}

.product-comparison-container
{
	width:690px;
	float:left;
	height:auto;
}

.comprehesive-innerbox
{
	width:690px;
	float:left;
	height:auto;
}

.comprehesive-box-2
{
	width:400px;
	float:left;
	height:auto;
	margin-left:15px;
	
	
}


.comprehesive-box
{
	width:380px;
	float:left;
	height:auto;
	margin-left:15px;
	margin-bottom:10px;
	line-height:20px;
	
	
}
.comprehesive-box-img
{
	width:250px;
	float:left;
	height:auto;
	
	margin-bottom:10px;
}




.testimonials
{
	width:780px;
	height:auto;
	float:left;	
}

.testimonials-box1
{
	width:740px;
	height:auto;
	float:left;
	padding:5px;
}

.testimonial-text
{
	font-family:Arial, Helvetica, sans-serif;
	 font-style:italic; line-height:13px; font-weight:bold;
	  color:#7b0e11; font-size:10px;
	  margin-bottom:5px;
	  text-align:right;
	  
	
}

.testimonial-text-left
{
	font-family:Arial, Helvetica, sans-serif;
	 font-style:italic; line-height:13px; font-weight:bold;
	  color:#7b0e11; font-size:10px;
	  margin-bottom:5px;
	  text-align:left;
	  
	
}

.testimonial-text-right
{
	font-family:Arial, Helvetica, sans-serif;
	 font-style:italic; line-height:13px; font-weight:bold;
	  color:#7b0e11; font-size:10px;
	  margin-bottom:5px;
	  text-align:right;
	
}

.testimonial-text-right-header
{
	
	  text-align:left;
	  
	
}



.testimonials-box1-p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	text-align:justify;
	
	
}

.testimonials-box2
{
	width:110px;
	height:auto;
	float:left;	
	
}

.testimonials-box2-header
{
	width:110px;
	height:auto;
	font-size:14px;
	float:left;
	text-align:center;
	
}

.testimonials-box2-photo-box
{
	
	height:auto;
	float:left;	
}

.testimonials-photo-box
{
	margin-left:20px;
}



h2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.page
{
	width:700px;
	float:left;
	height:auto;
}

.pro{ float:left; font:15px Arial, Helvetica, sans-serif; font-weight:bold; color:#0e557d; width:96%;  }
.pro-comp{ float:left; font:15px Arial, Helvetica, sans-serif; font-weight:bold; color:#0e557d; margin-top:5px; width:108%;  }
.pro-stragy{ float:left; width:100%; font:15px Arial, Helvetica, sans-serif; font-weight:bold; color:#0e557d;  }
.pro-stragy a{ font:15px Arial, Helvetica, sans-serif; font-weight:bold; color:#0e557d;  }
.results
{
	width:780px;
	height:auto;
	float:left;	
}

.imagebox-2 {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    /*outline: 1px solid #C4C7C8;*/
    margin: 1px;
  

    -webkit-box-shadow: 0px 0px 2px #5C5E5E;
    -moz-box-shadow: 0px 0px 0px 1px #C4C7C8;
    box-shadow: 0px 0px 0px 1px #C4C7C8;
}


.imagebox-2 img {
    display: block;
    border: 1px solid #FFFFFF;
}

/* Imagebox alignment and margins */

.right-margin-2 {
    margin: 0px 10px 5px 10px;
    float: right;
}

.imagebox-3 {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    /*outline: 1px solid #C4C7C8;*/
    margin: 1px;
   

    -webkit-box-shadow: 0px 0px 2px #5C5E5E;
    -moz-box-shadow: 0px 0px 0px 1px #C4C7C8;
    box-shadow: 0px 0px 0px 1px #C4C7C8;
}


.imagebox-3 img {
    display: block;
    border: 1px solid #FFFFFF;
}

/* Imagebox alignment and margins */

.right-margin-3 {
    margin: 0px 10px 5px 5px;
    float: left;
}


.imagebox {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    /*outline: 1px solid #C4C7C8;*/
    margin: 1px;
    padding: 5px;

    -webkit-box-shadow: 0px 0px 2px #5C5E5E;
    -moz-box-shadow: 0px 0px 0px 1px #C4C7C8;
    box-shadow: 0px 0px 0px 1px #C4C7C8;
}


.imagebox img {
    display: block;
    border: 1px solid #FFFFFF;
}

/* Imagebox alignment and margins */

.right-margin {
    margin: 4px 10px 2px 5px;
    float: left;
}

.result
{
	width:120px;
	float:left;
	height:auto;
	padding:4px;
}

.result-footer
{
	width:110px;
	float:left;
	height:auto;
	font-size:10px;
	
	
}

.result-footer h2
{
	
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:22px;
	
}
.contact-address
{
	line-height:16px;
	width:750px;
	float:left;
	height:auto;	
}

.contact-feild
{
	color:#df7102;
	font-style:italic;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:12px;
	
	
	
}







.v-slider
{
	background:#fff;
	height:auto;
	overflow:hidden;
	width:775px;
	padding:10px 0;
}

.v-slider .slides
{
	margin:0;
	padding:0;
}

.v-slider .slides li
{
	display:inline;
	padding:0;
}

.v-slider .slides li .video-container
{
	max-width:218px;
	margin:0 auto;
}

.v-slider .slides li .video-container img
{
	max-width:100%;
	width:100%;
}

.v-slider .flex-direction-nav
{
	display:block !important;
}

.v-slider .flex-direction-nav a
{
	display:block;
	position:absolute;
	top:50%;
	background:url(../images/video-nav.jpg) top no-repeat;
	width:17px;
	height:30px;
	text-indent:-9999px;
	margin-top:-20px;
}

.v-slider .flex-direction-nav a.flex-prev
{
	left:-15px;
}

.v-slider .flex-direction-nav a.flex-next
{
	right:-15px;
	background:url(../images/video-nav.jpg) bottom no-repeat;
}

#v-slider
{
	width:725px;
	margin-left:20px;
	position:relative;
}

.v-slider .video-container span
{
	display:block;
	text-align:center;
}

.v-slider .video-container .video-title
{
	font-size:14px;
	font-weight:bold;
	color:#438bc5;
}

.v-slider .video-container .video-description
{
	font-size:12px;
}

.press-media
{
	width:720px;
	float:left;
	height:auto;
}


.thumbnail-wrap {
	float:left;
	height:151px;
	margin:30px;
	width:151px;
}
.thumbnail-div {
	background-color:#313131;
	float:left;
	height:146px;
	padding:5px 0 0 5px;
	width:146px;
}
.thumbnail-shadow {
	float:left;
	height:33px;
	width:100%;
}
.thumbnail-div .sections-overlay {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(thumbnail-overlay.png) no-repeat scroll -40px -300px;
	float:left;
	margin-top:-33px;
}
.thumbnail-div div{
	height:141px;
	width:141px;
}
.sections-overlay {
	background-image:url(readmore-bg.png);
	opacity: 0; 
	visibility:hidden;
	background-position: 0px -167px;
}
.thumbnail-div .sections-overlay .zoom {
	margin:60px 0 0 61px;
}
.sections-overlay .zoom {
	border:medium none;
	margin:165px 0 0 312px;
}
.readmore {
	background-image:url(readmore-bg.png);
	color:#FFFFFF;
	display:block;
	float:right;
	font-size:10px;
	margin:17px 0 0 40px;
	padding:5px 10px;
	
}

.stratgy-tip
{
	width:700px;
	float:left;
	height:auto;
}

.stratgy-tip-inner
{
	margin-left:5px;
}

.stratgy-tip-content
{
	width:700px;
	float:left;
	height:auto;
}


.list-promitnent
{
	width:776px;
	float:left;
	height:auto;
	
}


table.imagetable {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 2px;
	border-color: #eef2f2;
	border-collapse: collapse;
}
table.imagetable th {
	background:#72a316;
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #eef2f2;
	text-align:left;
}
table.imagetable td {
	background:#c7d482;
	background-color: #c7d482;
	border-width: 2px;
	font-size:11px;
	padding: 2px 8px 2px 8px;
	border-style: solid;
	border-color: #eef2f2;
	text-align:center;
}



table.imagetable .odd td {
	background:#eaf1dd;}
	
.cost-of-education
{
	width:776px;
	float:left;
	height:auto;
	
}

.cost-of-education-inner
{
	margin-left:200px;
	
}

strong
{
	font-weight:bold;	
}


.b-school
{
	width:776px;
	float:left;
	height:auto;
	
}

.b-school-inner
{
	margin-left:150px;
	
}

.b-school-inner-1
{
	margin-left:60px;
	
}

.head-title
{
	text-align:center;
	font-weight:bold;
	
}

.ATMA-1-inner
{
	margin-left:120px;
	
}

.ATMA-2-inner
{
	margin-left:70px;
	
}

.ATMA-2012-inner
{
	margin-left:160px;
	
}