body {
    background: none repeat scroll 0 0 #eef2f3;
    color: #000000;
    font: 13px/23px Arial,Helvetica,sans-serif;
    margin: 0;
line-height:normal;
}
table tbody tr td iframe{border:none!important; }
iframe{border:0px!important;}
#aspnetForm{margin:0px auto;}
#page
{
	width:1000px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
}
#header
{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0px; 
	padding:0px;
	background:#DFDED2;
}
.top-div{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0px; 
	padding:0px;
}
#bullseye-logo
{
	width:240px;
	height:61px;
	float:left;
	margin:10px 0px 0px 10px;
}
.mba-flash{/*background:url(../images/mba.jpg) no-repeat;*/ width:600px; height:65px; margin:10px 10px 10px 0px; padding:0px; overflow:hidden; float:right; text-align:center; display:block;}
.mba-flash marquee{font-size:22px; color:#fff; font-weight:bold; line-height:84px;}
.mba-navigation{width:100%; height:auto; margin:0px; padding:0px;}
.mba-navigation ul{list-style:none; margin:0px; padding:0px; overflow:hidden;}
.mba-navigation ul li{list-style:none; margin:0px 8px 0px 0px; padding:0px; overflow:hidden; font-size:11px; float:left;}
.mba-navigation ul li a{color:#0E557D; text-decoration:none;}
.mba-navigation ul li a:hover{color:#000000; text-decoration:none;}
.navigation-bg {
    background: url("../images/navigation-bg.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 49px;
    line-height: 49px;
    margin: 0;
    padding: 0;
	width:1010px
}
.navigation-bg ul{list-style:none; margin:0px; padding:0px; overflow:hidden;}
.navigation-bg ul li{list-style:none; margin:0px 34px; padding:0px; overflow:hidden; float:left; color:#ffffff; line-height:49px; font-size:12px; font-weight:bold;}
.other1 a{color:#ffffff; text-decoration:none;}


/* for perforamce graphs in result page */
.fusionChat-ul {
    list-style: outside none none;
    text-align: center;
}
.GraphTests .fusionChat-ul > li {
    float: left;
    list-style: outside none none;
}


.GraphTests .fusionChat-ul {
    padding: 0;
    width: 874px;
}

.GraphTests .fusionChat-ul li div rect {
    fill: #eef2f3 !important;
    opacity: 10 !important;
	stroke:#eef2f3 !important;
}

.GraphTests .fusionChat-ul li h3 {
    color: #000;
    display: block;
    font: bold 14px/32px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

.GraphTests .hints > li {
    font-size: 11px;
    list-style: outside none none;
    padding: 0 20px;
}

.GraphTests .hints {
    clear: both;
    display: block;
    float: none;
    text-align: right;
}