/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:32px 0px 2px 0px;
	width:686px;
	height:260px;
}
#ca-container{margin-top:18px;}
.ca-wrapper{
	width:110%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:188px;
	height:95%;
	text-align:center;
}
.ca-more{
	position: absolute;
	bottom: 3px;
	right:0px;
	padding:2px 5px;	
	text-align:center;
	color:#808080;
	font-family:Arial, Helvetica, sans-serif;
	
	
}



.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:7px;
	position:absolute;
	top:2px;
	left:2px;
	right:2px;
	bottom:2px;
	background:#fff;
	overflow:hidden;
	-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius:
	 4px;background-color:#e2e2e2;-webkit-box-shadow:
	  #828282 3px 3px 3px;-moz-box-shadow:
	   #828282 3px 3px 3px; box-shadow: #828282 1px 1px 1px;
	
}

.ca-item-main a{
	
	background:#e2e2e2;
	color:#000;
	
		
}

.ca-item-main a:hover{
	
	background:#0b6ea9;
	color:#fff;
		
}


.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
	background:transparent url(../images/animal1.png) no-repeat center center;
}
.ca-item-2 .ca-icon{
	background-image:url(../images/animal2.png);
}
.ca-item-3 .ca-icon{
	background-image:url(../images/animal3.png);
}
.ca-item-4 .ca-icon{
	background-image:url(../images/animal4.png);
}
.ca-item-5 .ca-icon{
	background-image:url(../images/animal5.png);
}
.ca-item-6 .ca-icon{
	background-image:url(../images/animal6.png);
}
.ca-item-7 .ca-icon{
	background-image:url(../images/animal7.png);
}
.ca-item-8 .ca-icon{
	background-image:url(../images/animal8.png);
}
.ca-item h3{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:14px;
	color:#0E557D;
	margin-bottom:20px;
	margin-top:12px;
	text-align:left;
	
	
	
	
}
.ca-item h4{
	
	font-family:Arial, Helvetica, sans-serif;	
	text-align: left;		
	line-height:20px;
	font-size:11px;
	width:176px;
	color:#2c2c2c;
	
	
	position:relative;
}

.ca-item h4 a{
	
	font-family:Arial, Helvetica, sans-serif;	
	
	text-align:right;
	color:#0e3f68;
	font-weight:bold;	
	font-size:10px;
	padding-left:10px;
	
}


.ca-content-wrapper{
	
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:340px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;	
	font-family:Arial, Helvetica, sans-serif;
	width:320px;	
	line-height:16px;
	padding-left:2px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:0px 10px 0px 15px;
	font-size:22px;
	padding-bottom:5px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#60817a;
	
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}

.ca-nav span{
	width:10px;
	height:30px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-76px;
}
.ca-nav span.ca-nav-prev{
	background-position:top left;
	left:auto;
	left:-10px;
}
.ca-nav span:hover{
	opacity:1.0;
}
.ca-read{
font:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:bold;
margin-top:30px;
	}
.vedio{color:#0E557D !important;}




/*Free e material slider css start */
.fem-slider .ca-container{
	position:relative;
	margin:0px;
	width:680px;
	height:140px;
}
.fem-slider .ca-wrapper{
	width:110%;
	height:100%;
	position:relative;
}
.fem-slider .ca-wrapper1{
	width:110%;
	height:100%;
	position:relative;
}
.fem-slider .ca-item{

	float:left;
	width:255px;
	height:140px;
	text-align:center;
}
.fem-slider .ca-more{
	position: absolute;
	bottom: 3px;
	right:0px;
	padding:2px 5px;	
	text-align:center;
	color:#808080;
	font-family:Arial, Helvetica, sans-serif;
	
	
}



.fem-slider .ca-close{
	position:absolute;
	top:10px;
	right:10px;
	
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	
}
.fem-slider .ca-close:hover{
	opacity:1.0;
}
.fem-slider .ca-item-main{
	padding:7px;
	position:absolute;
	top:2px;
	left:2px;
	right:2px;
	bottom:2px;
	background:#fff;
	overflow:hidden;
	-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius:
	 4px;background-color:#cbebf8;-webkit-box-shadow:
	  #828282 3px 3px 3px;-moz-box-shadow:
	   #828282 3px 3px 3px; box-shadow: #828282 1px 1px 1px;
	   width:235px;
	   height:110px;
	
}

.fem-slider .ca-item-main a{
	
	background:#e2e2e2;
	color:#000;
	
		
}

.fem-slider .ca-item-main a:hover{
	
	background:#0b6ea9;
	color:#fff;
		
}


.fem-slider .ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
	background:transparent url(../images/animal1.png) no-repeat center center;
}
.fem-slider .ca-item-2 .ca-icon{
	background-image:url(../images/animal2.png);
}
.fem-slider .ca-item-3 .ca-icon{
	background-image:url(../images/animal3.png);
}
.fem-slider .ca-item-4 .ca-icon{
	background-image:url(../images/animal4.png);
}
.fem-slider .ca-item-5 .ca-icon{
	background-image:url(../images/animal5.png);
}
.fem-slider .ca-item-6 .ca-icon{
	background-image:url(../images/animal6.png);
}
.fem-slider .ca-item-7 .ca-icon{
	background-image:url(../images/animal7.png);
}
.fem-slider .ca-item-8 .ca-icon{
	background-image:url(../images/animal8.png);
}
.fem-slider .ca-item h3{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:14px;
	color:#0E557D;
	margin-top:10px;
	margin-bottom:0px;
	text-align:center;
}
.fem-slider .ca-item h4{
	
	font-family:Arial, Helvetica, sans-serif;	
	text-align: center;		
	line-height:10px;
	font-size:11px;
	width:240px;
	color:#2c2c2c;
	position:relative;
}

.fem-slider .ca-item h4 a{
	
	font-family:Arial, Helvetica, sans-serif;	
	
	text-align:left;
	color:#0e3f68;
	font-weight:bold;	
	font-size:10px;
	
}


.fem-slider .ca-content-wrapper{
	
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.fem-slider .ca-content{
	width:340px;
	overflow:hidden;
}
.fem-slider .ca-content-text{
	font-size: 14px;	
	font-family:Arial, Helvetica, sans-serif;
	width:320px;	
	line-height:16px;
	padding-left:2px;
}
.fem-slider .ca-content-text p{
	padding-bottom:5px;
}
.fem-slider .ca-content h6{
	margin:0px 10px 0px 15px;
	font-size:22px;
	padding-bottom:5px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#60817a;
	
}
.fem-slider .ca-content ul{
	margin:20px 35px;
	height:30px;
}
.fem-slider .ca-content ul li{
	float:left;
	margin:0px 2px;
}
.fem-slider .ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
}
.fem-slider .ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}

.fem-slider .ca-nav span{
	width:10px;
	height:30px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.fem-slider .ca-nav span.ca-nav-next{
background-image:url(../images/a1.png);

	left:auto;
	right:-76px;
}
.fem-slider .ca-nav span.ca-nav-prev{
background-image:url(../images/a2.png);

	left:auto;
	left:-6px;
}
.fem-slider .ca-nav span:hover{
	opacity:1.0;
}
.fem-slider .ca-read{
font:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
font-weight:bold;
}
/*Free e material slider css end */



