.meta_table
{
  border-collapse:separate;
  border-spacing:5px;
  margin:-5px 0 21px -5px;
  width:100%
}

.meta_table tbody td
{
  background-color:#e2e2e2;
  color:#666;
  font-family:Ubuntu, Sans-Serif;
  font-size:14px;
  height:20px;
  padding:8px 21px;
  vertical-align:middle
}

.meta_table tbody tr:hover td
{
  background-color:#eee
}

.meta_table .icon
{
  padding:0;
  width:36px
}

.meta_table .icon div
{
  background-image:url(images/meta_table.png);
  background-repeat:no-repeat;
  height:36px;
  width:36px
}

.meta_table .icon_social div
{
  background-position:0 0
}

.meta_table .icon_date div
{
  background-position:0 -36px
}

.meta_table .icon_category div
{
  background-position:0 -72px
}

.meta_table .icon_tag div
{
  background-position:0 -108px
}

.meta_table .social_links ul li
{
  display:block;
  float:left;
  margin-right:15px
}

.meta_table .social_links li
{
  height:15px;
  padding-top:6px
}

.price_table_blue
{
  width:100%
}

.price_table_blue thead tr
{
  height:104px;
  max-height:104px
}

.price_table_blue thead th
{
  background:transparent url(images/table1_head.png) repeat-x;
  border-left:1px solid #568aa1;
  border-right:1px solid #568aa1;
  color:#FFF;
  text-align:center
}

.price_table_blue thead .featured
{
  background-image:url(images/table1_head_featured.png)
}

.price_table_blue thead th h3
{
  font-size:12px;
  line-height:30px;
  margin-bottom:18px
}

.price_table_blue thead .cell0 p
{
  color:#FFF;
  font-family:Ubuntu, Sans-Serif;
  font-size:25px;
  font-weight:700;
  line-height:21px;
  margin-top:22px;
  text-shadow:1px 1px 1px #666
}

.price_table_blue thead th .price
{
  color:#FFF;
  font-family:Ubuntu, Sans-Serif;
  font-size:42px;
  font-weight:700;
  line-height:21px;
  margin:0;
  text-shadow:1px 1px 1px #666
}

.price_table_blue thead th .unit
{
  font-size:28px
}

.price_table_blue thead th .rate
{
  color:#FFF;
  font-size:10px;
  line-height:21px;
  margin:2px 0 0
}

.price_table_blue tfoot th,.price_table_blue tbody th,.price_table_blue tbody td
{
  border:1px solid #d0d0d0;
  color:#2a3445;
  padding:10px
}

.price_table_blue tbody th
{
  text-align:left
}

.price_table_blue tbody td
{
  text-align:center
}

.price_table_blue tfoot tr.odd th,.price_table_blue tbody tr.odd
{
  background-color:#e1e2e3
}

.price_table_blue tfoot th
{
  line-height:21px;
  padding:18px 0;
  text-align:center
}

.price_table_blue tfoot .button
{
  color:#FFF;
  display:inline-block;
  font-family:Muli, Sans-Serif;
  font-size:12px;
  height:26px;
  line-height:26px;
  width:110px
}

.price_table_blue .empty
{
  background:none!important;
  border:none!important
}

.table_gray
{
  width:100%
}

.table_gray thead .column0
{
  text-align:left
}

.table_gray thead tr
{
  border-left:1px solid #d0d0d0;
  border-right:1px solid #d0d0d0;
  height:48px
}

.table_gray thead th
{
  background:transparent url(images/table2_head.png) repeat-x;
  color:#666;
  padding:0 21px;
  text-align:center;
  text-shadow:1px 1px 1px #ededed
}

.table_gray thead th h3
{
  font-size:12px;
  font-weight:700;
  line-height:48px;
  margin-bottom:0
}

.table_gray tfoot th,.table_gray tbody th,.table_gray tbody td
{
  border:1px solid #e4e4e4;
  color:#555;
  padding:10px 21px
}

.table_gray tbody tr:hover
{
  background-color:#ededed
}

.table_gray tbody th
{
  font-family:Ubuntu, Sans-Serif;
  font-weight:700;
  text-align:left
}

.table_gray tbody td
{
  text-align:center
}

.table_gray .empty
{
  background:none!important;
  border:none!important
}

.table_blue
{
  width:100%
}

.table_blue thead .column0
{
  text-align:left
}

.table_blue thead tr
{
  border-left:1px solid #d0d0d0;
  border-right:1px solid #d0d0d0;
  height:48px
}

.table_blue thead th
{
  background:transparent url(images/table3_head.png) repeat-x;
  color:#FFF;
  padding:0 21px;
  text-align:center;
  text-shadow:1px 1px 1px #274754
}

.table_blue thead th h3
{
  font-size:12px;
  font-weight:700;
  line-height:48px;
  margin-bottom:0
}

.table_blue tfoot th,.table_blue tbody th,.table_blue tbody td
{
  border:1px solid #e4e4e4;
  color:#555;
  padding:10px 21px
}

.table_blue tbody th
{
  font-family:Ubuntu, Sans-Serif;
  font-weight:700;
  text-align:left
}

.table_blue tbody td
{
  text-align:center
}

.table_blue tfoot tr.even th,.table_blue tbody tr.even
{
  background:#e7e7e7 url(images/table3_highlight.png) repeat-x left top
}

.table_blue .empty
{
  background:none!important;
  border:none!important
}